.Rproj.user
.Rhistory
.RData
.Ruserdata

# Keynote
*.key
02_EJERCICIOS_PRACTICOS/Sesión_06/enigh/concentradohogar.dbf
02_EJERCICIOS_PRACTICOS/Sesión_07_ENOE/ejercicio 2/enoe_2025_trim4_csv/ENOE_COE2T425.csv
02_EJERCICIOS_PRACTICOS/Sesión_07_ENOE/ejercicio 2/enoe_2025_trim4_csv/ENOE_COE1T425.csv
02_EJERCICIOS_PRACTICOS/Sesión_07_ENOE/ejercicio 2/enoe_2025_trim4_csv/ENOE_HOGT425.csv
02_EJERCICIOS_PRACTICOS/Sesión_07_ENOE/ejercicio 2/enoe_2025_trim4_csv/ENOE_SDEMT425.csv
02_EJERCICIOS_PRACTICOS/Sesión_07_ENOE/ejercicio 2/enoe_2025_trim4_csv/ENOE_VIVT425.csv
